.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
*.zip
*.7z
*.xlsx
*.png
*.pdf
*.RDataTmp*
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.docx
*.tif
*.nc
*.pptx
*.JPG
Conferences/
Write-up/
Data (all)/
Outputs/